body {
    background: url("https://media4.giphy.com/media/dZLWXI8VO0oSurblwN/giphy.gif?cid=790b7611bb329b6e9b8ff3d3569c75be32d1ce7342fc307a&rid=giphy.gif&ct=g");
    background-size: cover;
}

#container {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.circle {
    border-radius: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

.item {
    z-index: 100;
    padding: 5px;
}

.item img {
    width: 150px;
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}

#outerContainer {
    margin-left: 430px;
}

.pt1 {
    text-align: center;
    font-size: 50px;
    margin-top: -20px;
    font-family: 'Libre Baskerville', serif;
}

button {
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
    margin-top: 20px;
    font-family: 'Libre Baskerville', serif;
}